---
import MainLayout from '~/layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';
export const prerender = false;

const session = await getSession(Astro.request);
const user = session?.user;
---

<MainLayout>
	<h1 class='font-bold'>Home Page</h1>
	<pre>
		<code>
			{JSON.stringify(user, null, 2)}
		</code>
	</pre>
</MainLayout>
