---
import MainLayout from '~/layouts/MainLayout.astro';

export const prerender = false;
---

<MainLayout>
	<h1 class='font-bold'>Página protegida</h1>
	<p>
		Velit nisi duis esse reprehenderit laborum esse adipisicing cillum irure aute sunt consequat commodo. Nisi eu sit
		enim laborum nostrud tempor dolore veniam. Laboris fugiat mollit ea ullamco ea qui eu id id ullamco aliquip. Dolor
		consequat sint dolore Lorem amet irure minim laboris ullamco velit. Esse do sunt eiusmod veniam mollit non ullamco
		in consequat nulla tempor duis deserunt sint. Tempor voluptate dolor cupidatat et.
	</p>
</MainLayout>
